{
  "presets": [
//    "flow",
//    ["es2015", {"modules": false}],
    "es2015",
    "stage-2"
  ],
  "plugins": [
    "transform-flow-strip-types"
//    "syntax-flow",
//    ,"transform-es2015-modules-umd"
  ]
}